.bar-title
  %h2.pull-left= t('model.status')
  .btn-group.pull-right
    = link_to new_status_path, class: 'btn btn-default', title: t('status.new') do
      %span.fa.fa-plus

%form.well.form-inline.search
  .row
    .col-xs-3
      = text_field_tag :q, nil, placeholder: t('status.search'), class: 'form-control', 'data-provide' => 'typeahead', klass: "statuses"

#statuses.partial
  = render :partial => 'listing', :locals => {:statuses => @objects}

