.bar-title
  %h2.pull-left= t('model.status')
  .btn-group.pull-right
    = link_to new_status_path, class: 'btn btn-default', title: t('status.new') do
      %span.fa.fa-plus

%form.well.form-inline.search
  .row
    = search_input('status')

#statuses.partial
  = render :partial => 'listing', :locals => {:statuses => @objects}

