//= require jquery.ui.datepicker
//= require_self
//= require_tree .

@import "bootstrap"

.icon-calendar
	margin-right: 20px

.alert
	margin: 0

.navbar
	margin-top: 20px

.paginate
	margin: 0 0 10px 10px

.form-search
	margin: 0
	input, select
		height: 35px
		width: 300px
	select
		float: left
		&.small
			width: 70px
		&.medium
			width: 150px
		&.large
			width: 250px
	label
		margin: 8px 10px 0 20px
		float: left

.form-horizontal
	input, textarea, select
		height: 30px
		width: 300px
	textarea
		height: 160px
	input[type=submit]
		width: 135px
	input[type=radio], input[type=checkbox]
		width: 50px
		height: 15px

.form_actions
	margin-top: 20px

.icon-calendar
	background-position: -186px -113px


