.bar-title
  %h2.pull-left= t('model.category')
  .btn-group.pull-right
    = link_to new_category_path, class: 'btn btn-default', title: t('category.new') do
      %span.fa.fa-plus

%form.well.form-inline.search
  .row
    .col-xs-3
      = text_field_tag :q, nil, placeholder: t('category.search'), class: 'form-control', 'data-provide' => 'typeahead', klass: "categories"

#categories.partial
  = render :partial => 'listing', :locals => {:categories => @objects}

